@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

@layer base {
  .button-with-gradient {
    @apply transition-all duration-700;
    background: linear-gradient(94.02deg, #7A36D9 -42.93%, #3CEAF5 61.24%, #3685D9 100.00%);
    background-size: 200% 200%;
    background-position: 0% 0%;
  }

  .button-with-gradient:hover {
    background-position: 100% 0%;
  }

  :focus-visible:not(input), :focus:not(input) {
    @apply outline-none ring-2 ring-sea-blue ring-offset-4 transition-colors;
  }

  input:focus-visible, input:focus {
    @apply transition-colors border-sea-blue outline-none;
  }
}