@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.button-with-gradient {
  background: linear-gradient(94.02deg, #7A36D9 -42.93%, #3CEAF5 122.48%, #3CEAF5 122.48%);
}